/* Base styles for the body to remove margin and ensure full width */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  max-height: 100px; /* Adjust the size as needed */
  width: auto;
}

/* Reset link styles */
.navbar a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background: #ffffff; /* Change to match your branding */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  justify-content: center;
  height: 100px;
  z-index: 1;
  width: 100%;
  max-width: 100%; /* Adjust based on your layout */
}

.menu-icon {
  background-color: #8abcf5;
  border: none;
  font-size: 2rem; /* Adjust size as needed */
  cursor: pointer;
  display: none; /* Hidden by default, shown below in media query */
}

/* Styling for navigation menu */

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 20%;
}

.nav-item {
  line-height: 40px;
  position: relative;
  z-index: 10;
}

.nav-links {
  color: #fff;
  transition: all 0.3s ease;
  display: block;
  padding: 30px; /* Vertical and horizontal padding */
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.nav-links:hover {
  background-color: #8abcf5;
  color: #ffffff;
}

.nav-links.active {
  background-color: #8abcf5;
  color: #ffffff;
}

/* Dropdown Menu */
.dropdown-content {
  position: absolute;
  display: none; /* Hide dropdown by default */
  flex-direction: column;
  z-index: 1;
  width: 100%;
  font-size: 1.5rem;
}

.nav-item:hover .dropdown-content {
  display: flex; /* Show dropdown on hover */
}

.dropdown-link {
  background-color: #ffffff;
  text-align: center;
  transition: all 0.3s ease;
  padding-bottom: 15px;
  padding-top: 15px;
}

.dropdown-link:hover {
  background-color: #8abcf5;
  color: #ffffff;
}

/* Mobile styles */
@media screen and (max-width: 960px) {
  .navbar-container {
    justify-content: space-between; /* Logo on one side, hamburger on the other */
    padding: 0 10px; /* Reduce padding on smaller screens */
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    width: 50px;
    height: 50px;
  }

  .menu-icon:focus,
  .menu-icon:active,
  .menu-icon:hover {
    background: #8abcf5;
    outline: none;
    display: flex;
    justify-content: center;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.3s ease;
    background: #ffffff;
    padding: 0;
  }

  .nav-menu.active {
    left: 0;
    opacity: 1;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .nav-item {
    width: 100%;
  }

  .nav-links {
    text-align: center;
    padding: 0px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    display: table;
  }

  /* Adjust dropdown for mobile */
  .dropdown-content {
    position: static;
    width: 100%;
  }

  .dropdown-link {
    width: 100%;
    display: block;
  }
}
