.stats-section {
  text-align: center;
  padding: 2rem;
  background-color: #f9f9f9;
}

/* Charts */

.stats-title {
  text-align: center;
  color: #333;
  font-size: 1em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.charts-container {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

/* Widgets Part */
.stats-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.stat-item {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  min-width: 250px; /* Minimum width for each stat card */
  margin: 1rem;
}

.stat-value {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0.5rem 0;
  color: #e67e22; /* Orange color for the numbers */
}

.stat-label {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.fa-user-graduate,
.fa-school,
.fa-star {
  margin-bottom: 1rem;
  color: #3498db; /* Blue color for the icons */
}

@media (max-width: 768px) {
  .charts-container {
    flex-direction: column;
    align-items: stretch; /* Stretch charts to full width on small screens */
  }

  .stats-grid {
    flex-direction: column;
    align-items: center;
  }
}
